# Creating Sets

In [15]:
myset= set()

In [16]:
myset.add(1) #We need to used <set name>.add(element to be added) to add elements to a set.

In [17]:
myset

{1}

Above looks like a dictionary, buts its not a dictionary but a set as it doesn't have key-value objects.

In [18]:
myset.add(2)

In [19]:
myset

{1, 2}

In [20]:
myset.add(2)

In [21]:
myset

{1, 2}

This what makes set unique. We added 2 twice into the set but it only show 2 once in output, because set is a collection a unique elements and repititive elemets are collapsed into one.

# Casting Lists Into Sets

In [22]:
mylist=[2,2,45,6,7,8,5,6,7,2,5,9,9,2,6,7]

In [23]:
set(mylist)

{2, 5, 6, 7, 8, 9, 45}

As observable, if we pass a list through set the output will be a set with unique values of list.

# Booleans

Nothing much in booleans. It has 2 elements in True and False.
We discussed a keyword None which we use when we create a variable now but assign it a value later.

In [24]:
b

NameError: name 'b' is not defined

To avoid above error we use None.

In [25]:
b=None

# Advanced Set Methods

# Clear

In [26]:
#This method simply empties a pre-existing set
myset.clear()

In [27]:
myset

set()

# Copy

In [28]:
#This method simply copies a pre-existing set to a new variable
old_set={1,2,3}#Yeah this is another method to declare a set
new_set=old_set.copy()

In [29]:
new_set

{1, 2, 3}

In [30]:
old_set.add(4)

In [31]:
old_set

{1, 2, 3, 4}

In [32]:
new_set

{1, 2, 3}

As observable the copy set command allow change on old or new set to be seen on one another

# Difference

In [33]:
#This method check 2 sets and print the elements that aren't common in them
old_set.difference(new_set)

{4}

In [34]:
new_set.difference(old_set)

set()

Hence this print what extra the set before the . has from the one under tha parenthesis.
Like in case 1, old_set has an extra 4 from new_set which is printed but in the second case the new_set doesn't have anything from the old_set so a null is printed

# Difference_Update

The syntax used is < set1 >.difference_update(< set2 >)
What is method does is it compares what extra element set1 has over set2 and edits the set1 in such a way that the extra elements set1 had over set2 remain and the common elements are removed

In [35]:
set1={1,2,3}
set2={1,4,5}

In [36]:
set1.difference_update(set2)

In [37]:
set1

{2, 3}

# Discard

It is used to remove an existing element the set.
This works on the syntax < Set name >.discard(< element to be removed >)

In [38]:
set2.discard(4)

In [39]:
set2

{1, 5}

As observable 4 is removed

# Intersection

Prints a set of elements common between two sets
General syntax used is < set1 >.intersection< set2 >

In [40]:
s1={1,4,9,3}
s2={1,9,8,7}

In [41]:
s1.intersection(s2)

{1, 9}

# Intersection_Update

The syntax used is < set1 >.intersection_update(< set2 >)
What is method does is it compares what common elements of set1 and set2 and edits the set1 in such a way that the common elements of set1 and over set2 remain and the uncommon elements are removed.

In [42]:
s1.intersection_update(s2)

In [43]:
s1

{1, 9}

# isdisjoint
This method checks wheather the 2 concerned sets are have any intersections or not. If there are no intersectios thenit returns True else it returns False.

In [49]:
set1={7,8,2,4}
set2={2,5,4,8}
set3={10}
set4={2,4}

In [50]:
set1.isdisjoint(set2)

False

In [51]:
set1.isdisjoint(set3)

True

# issubset
Checks wheather a given set is subset of the other or not. It runs on the syntax set1.issubset(set2), that is it checks wheather set1 is subset of set2 or not and returns values(True or False) accordingly

In [52]:
set1.issubset(set2)

False

In [53]:
set4.issubset(set1)

True

# symmetric_difference
Its works exactly same to that of differnce method in the sets section to there is nothing to expand here

# Union
This prints a new set which is combination of 2 given sets

In [54]:
set1.union(set2)

{2, 4, 5, 7, 8}

# Update
This update the set1 element with the union of set1 and set2

In [55]:
set1.update(set2)

In [56]:
set1

{2, 4, 5, 7, 8}